<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/css/cart.css" />
        <title><%= pageTitle %></title>
    </head>
    <body>
        <%- include('../partials/header.ejs' )%>
        <main>
            <% if(products && products.length > 0) { %>
            <ul>
                <%for(product of products) { %>
                <li>
                    <p><%= product.item %>(<%= product.quantity %>)</p>
                    <form action="/delete-from-cart" method="POST">
                        <input
                            type="hidden"
                            name="productId"
                            value="<%= product._id %>"
                        />
                        <button type="submit">Delete</button>
                    </form>
                </li>
                <%}%>
            </ul>
            <form action="/place-order" method="POST">
                <button type="submit" class="btn">
                    Place Order
                </button>
            </form>
            <%} else {%>
            <h1>Cart is Empty</h1>
            <%}%>
        </main>
    </body>
</html>
